@font-face {
    font-family: Gotham Pro;
    src: url(../fonts/gotham/gothampro.ttf)
}

@font-face {
    font-family: Gotham Pro Light;
    src: url(../fonts/gotham/gothamprolight.ttf)
}

@font-face {
    font-family: Gotham Pro Bold;
    src: url(../fonts/gotham/gothamprobold.ttf)
}

body {
    margin: 0;
    font-family: "Gotham Pro";
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    margin: 0;
    position: absolute;
    top: 23px;
    right: 0;
}

.header {
    display: flex;
}

.wrapper{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header-menu {
    margin-left: 516px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.menu-item {
    display: flex;
    align-items: center;
}

.header-menu .menu-item:not(:first-child)  {
    margin-left: 59px;
}
.header-menu .menu-item:last-child {
    margin-left: 109px;
}

.menu-link {
    margin-left: 12px;
    text-decoration: none;
    color: #ffffff;
}

.menu-link:hover {
    color: #d2ea2a;
}

.menu-link:active {
    color: #ffffff;
}

.main {
    margin: 0 auto;
    width: 100%;
    height: 916px;
    background: #24272d url(..//img/main-pic.png) no-repeat 50%;
    background-size: cover;
}

.main-backgraund {
    height: 100%;
    background: url(..//img/cloud.png) no-repeat 50% 800px;
}

.main-block {
    padding-top: 114px;
    padding-bottom: 114px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.block{
    flex-basis: 50%;
}

.header-main-title {
    margin-top: -309px;
    color: #d2ea2a;
    font-size: 36px;
    font-family: "Gotham Pro Bold";
    text-transform: uppercase;
    line-height: 20px;
}

.header-main-text {
    color: #ffffff;
    font-size: 48px;
    margin: 0;
    font-family: "Gotham Pro Bold";
    text-transform: uppercase;
    line-height: 0px;
}

.header-main-txt {
    margin: 0;
    color: #aeaeae;
    font-size: 24px;
    line-height: 71px;
}

.btn {
    min-width: 267px;
    margin: 26px 0 0 0;
    padding: 13px 20px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #d2ea2a;
    color: #24272d;
    font-family: "Gotham Pro Bold";
    font-size: 18px;
    border: none;
}

.btn:active{
    color: #d2ea2a;
    background-color: transparent; 
}

.blen-lear{
    margin-top: 26px;
    padding: 0;
}

.title {
    margin-top: 198px;
    width: 900px;
    color: #24272d;
    font-family: "Gotham Pro Bold";
    font-size: 36px;
    line-height: 0px;
    text-transform: uppercase;
    letter-spacing: -0.36px;
}

.startup-text {
    display: flex;
    margin-bottom: 0px;
    font-family: "Gotham Pro Bold";
    font-size: 48px;
    line-height: 8px;
    text-transform: uppercase;
    color: #24272d;
}

.startup{
    color: #d2ea2a;
    padding: 0 10px 0 10px;
}

.title-txt{
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 52px;
    max-width: 1147px;
    color: #6a6a6a;
    font-size: 24px;
    width: 570px;
}

.main-record{
    margin: -21px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.record{
    margin: 21px;
    padding: 26px;
    width: 486px;
    height: 565px;
    border-radius: 25px;
    border: 1px solid #24272d;
}

.record-title {
    color: #24272d;
    font-family: "Gotham Pro Bold";
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: -0.36px;
    text-align: center;
}

.record-text {
    margin-top: -39px;
    color: #6a6a6a;
    font-size: 24px;
    text-align: center;
}

.record-btn {
    margin-top: 30px;
    width: 267px;
    min-width: 100px;
    height: 48px;
    border-radius: 15px;
    background-color: #d2ea2a;
    color: #24272d;
    font-family: "Gotham Pro Bold";
    font-size: 18px;
    border: none;
}

.record-btn:active{
    color: #d2ea2a;
    background-color: transparent; 
}

.city-txt{
    padding-left: 10px;
    color: #d2ea2a;
    letter-spacing: -0.48px;
}

.title-startup-txt{
    width: 1147px;
    color: #6a6a6a;
    font-size: 24px;
}

.univer {
    color: #d2ea2a;
    text-transform: uppercase;
}

.univer-txt{
    color: #d2ea2a
}

.city {
    display: flex;
    flex-wrap: wrap;
    max-width: 1539px;
    min-height: 451px;
    border-radius: 25px;
    border: 1px solid #24272d;
    color: #24272d;
    font-family: "Gotham Pro Bold";
    font-size: 24px;
}

.drop-down-title {
    margin: 46px 0 0 69px;
    width: 210px;
    color: #24272d;
    font-family: "Gotham Pro";
    font-size: 24px;
    margin-left: 50px;
}

.drop-down-city {
    padding-left: 20px;
    display: block;
    margin-top: 36px;
    margin-left: 63px;
    border: 1px solid #d2ea2a;
    border-radius: 15px;
    outline: none;
    max-width: 267px;
    height: 48px;
    font-size: 20px;
    color: #24272d;
    font-family: "Gotham Pro";
    font-size: 18px;
}

.check-free{
    display: flex;
    position: absolute;
    margin-top: 95px;
}

#some_checkbox{
    margin-top: 0px;
}

.free{
    display: flex;
    width: 460px;
    color: #24272d;
    font-family: "Gotham Pro";
    font-size: 24px;
}

.free-txt{
    font-family: "Gotham Pro Bold";
   font-weight: 700;
}

.drop-down-text {
    max-width: 1318px;
    margin-left: 70px;
    color: #24272d;
    font-family: "Gotham Pro";
    font-size: 18px;
}

.drop-down-text:after {
    content: "";
    margin-top: 60px;
    display: block;
    width: 1406px;
    max-width: 1506px;
    border: 1px solid #24272d;
}

.free-title {
    display: flex;
    width: 830px;
    height: 34px;
    color: #24272d;
    font-family: "Gotham Pro Bold";
    font-size: 36px;
    line-height: 60px;
    letter-spacing: -0.36px;
}

.free-title-txt{
    padding-left: 10px;
    color: #d2ea2a;
    font-family: "Gotham Pro Bold";
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.48px;
}

.title-txt-txt {
    margin-bottom: 0px;
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 52px;
    max-width: 1147px;
    color: #6a6a6a;
    font-family: "Gotham Pro";
    font-size: 24px;
}

input {
    margin-left: 70px;
    width: 30px;
    height: 30px;
}

#phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 267px;
    height: 48px;
    border-radius: 15px;
    border: 1px solid #a7a7a7;
    outline: none;
}

.form-control {
    color: #6a6a6a;
    font-family: "Gotham Pro Bold";
    font-size: 18px;
}

.reg-btn {
    margin-left: 70px;
    width: 267px;
    height: 48px;
    border-radius: 15px;
    background-color: #d2ea2a;
    color: #24272d;
    font-family: "Gotham Pro Bold";
    font-size: 18px;
    border: none;
}

.reg-btn:active{
    color: #d2ea2a;
    background-color: transparent; 
}


.project {
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1539px;
    min-height: 451px;
    border-radius: 25px;
    border: 1px solid #24272d;
}

.project-main {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "Gotham Pro";
    font-size: 18px;
}

.pro {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 339px;
    color: #24272d;
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: 200;
}

.form{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}

.form-form {
    margin-left: 16px;
    margin-top: 110px;
    width: 267px;
    max-width: 267px;
    height: 48px;
    border-radius: 15px;
    border: 1px solid #a7a7a7;
    outline: none;
    color: #6a6a6a;
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: bold;
}

.form-btn {
    margin-top: 110px;
    width: 267px;
    max-width: 267px;
    height: 48px;
    border-radius: 15px;
    background-color: #d2ea2a;
    color: #24272d;
    font-family: "Gotham Pro Bold";
    font-size: 18px;
    border: none;
}

.form-btn:active{
    color: #d2ea2a;
    background-color: transparent;
}

.form-form-form {
    margin-left: 100px;
    margin-top: 30px;
}

.form-txt {
    margin-left: 140px;
    margin-top: -30px;
    color: #1f2536;
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: bold;
    line-height: 16.71px;
}

.pracric {
    margin: 0 auto;
    flex-wrap: wrap;
    min-height: 916px;
    background-color: #23272c;
    margin: 0 auto;
    width: 100%;
}

img[alt="cloud-down"]{
    margin: 0 auto;
}

.title-white {
    margin-left: 100px;
    max-width: 1539px;
    color: #ffffff;
    font-family: "Gotham Pro Bold";
    font-size: 36px;
    line-height: 0px;
    text-transform: uppercase;
}

.title-text-white {
    margin-left: 100px;
    max-width: 1539px;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 48px;
    font-weight: bold;
    line-height: 0px;
    color: #d2ea2a;
    text-transform: uppercase;
}

.all-project {
    margin: -210px 0 0 1219px;
    color: #9b9b9b;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: bold;
}

.all-project-btn {
    margin-left: 1209px;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 36px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: -0.36px;
    background-color: transparent;
    border: none;
    outline: none;
}

.all-project-btn:hover {
    color: #d2ea2a;
}

.all-project-btn:active {
    color: black;
}

.real-project{
    margin: 200px 0 0 300px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.link-partners {
    width: 150px;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: 500;
}

.link-partners:hover {
    color: #d2ea2a;
}

.partners-title:hover {
    color: #d2ea2a;
}

.partners-title {
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 24px;
    text-transform: uppercase;
}

.partners-text {
    width: 50px;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: 500;
    line-height: 24.31px;
}

.partners-text:hover {
    color: #d2ea2a;
}

img[alt="cloud-partners"]{
    margin-top: -210px; 
}

.event {
    margin: 0 auto;
    width: 100%;
    height: 1140px;
}

.event-title-main{
    margin-left: 100px;
    color: #24272d;
    font-family: "Gotham Pro";
    font-size: 36px;
    font-weight: bold;
    line-height: 0px;
}

.event-title-text{
    margin-left: 100px;
    color: #24272d;
    font-family: "Gotham Pro";
    font-size: 48px;
    font-weight: bold;
    line-height: 0px;
    letter-spacing: -0.48px;
}

.event-title-txt{
    margin-left: 100px;
    color: #6a6a6a;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: bold;
    line-height: 0px;
}

.event-main {
    margin-top: 73px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event-text {
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 164px;
    text-decoration: none;
}

.event-title:hover {
    color: #d2ea2a;
}

.event-title:active {
    color: black;
}

.event-title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: 500;
}

.all-practic{
    margin-right: 40px;
    color: #6a6a6a;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.all-practic-btn{
    width: 100%;
    display: flex;
    color: #d2ea2a;
    font-family: "Gotham Pro";
    font-size: 36px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: -0.36px;
    border: none;
    outline: none;
    background-color: transparent;
    justify-content: flex-end;
}

.all-practic-btn:hover {
    color: #d2ea2a;
}

.all-practic-btn:active {
    color: black;
}

img[alt="boy-footer"] {
    margin-top: 133px;
    margin-left: 126px;
}

.call-text {
    margin-top: -611px;
    margin-left: 389px;
}

.title-text-txt {
    margin-left: 220px;
    margin-top: -10px;
    width: 634px;
    color: #6a6a6a;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: 200;
}

.question-form {
    margin-top: 121px;
    margin-left: 740px;
}

.question-name {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 461px;
    height: 46px;
    border-radius: 15px;
    border: 1px solid #a7a7a7;
    outline: none;
    color: #6a6a6a;
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: bold;
}

.question-mail {
    margin-left: 0px;
    width: 461px;
    height: 46px;
    border-radius: 15px;
    border: 1px solid #a7a7a7;
    outline: none;
    color: #6a6a6a;
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: bold;
}

.question-message {
    margin-left: 740px;
    width: 460px;
    height: 180px;
    border-radius: 15px;
    border: 1px solid #a7a7a7;
    outline: none;
    color: #6a6a6a;
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: bold;
}

.question-btn {
    display: flex;
    margin-left: 1235px;
    margin-top: -50px;
    width: 176px;
    height: 39px;
    border-radius: 15px;
    background-color: #d2ea2a;
    color: #24272d;
    font-family: "Gotham Pro Bold";
    font-size: 18px;
    border: none;
    justify-content: center;
}

.question-btn:active{
    color: #d2ea2a;
    background-color: transparent
}

.conf {
    display: flex;
    margin-left: 700px;
    margin-top: 10px;
}

.conf-txt {
    margin-left: 740px;
    margin-top: -25px;
    color: #1f2536;
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: bold;
    line-height: 16.71px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    max-width: 1600px;
    height: 499px;
    background-color: #24272d;
}

img[alt="cloud-black"]{
    margin-top: -90px;
}

img[alt="footer-logo"] {
    margin: 99px 0 0 80px;
}

img[alt="footer-logo"]:hover {
    filter: grayscale(100%);
}

img[alt="vk"] {
    position: absolute;
    margin: 236px 0 0 -300px;
}

img[alt="twitter"] {
    position: absolute;
    margin: 236px 0 0 -255px;
}

img[alt="envelope"] {
    position: absolute;
    margin: 236px 0 0 -200px;
}



.envelope-text {
    position: absolute;
    margin: 236px 0 0 -180px;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 500;
}

.envelope-text:hover {
    color: #d1e92a;
}

img[alt="old-phone"] {
    position: absolute;
    margin: 256px 0 0 -200px;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 500;
}

.envelope-phone {
    position: absolute;
    margin: 256px 0 0 -180px;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 500;
}

.envelope-phone:hover {
    color: #d1e92a;
}

.foter-main-main{
    margin: -110px 0 0 400px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.footer-main-text {
    color: #00a7cf;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: 500;
}

.footer-main-text:hover {
    color: #d1e92a;
}

.footer-main-txt {
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
}

.footer-main-txt:hover {
    color: #d1e92a;
}

.footer-startap-text {
    color: #0eb8cc;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: 500;
}

.footer-startap-text:hover {
    color: #d1e92a;
}

.footer-digital-text {
    color: #dd1633;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: 500;
}

.footer-digital-text:hover {
    color: #d1e92a;
}

.footer-education-text {
    color: #d1e92a;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: 500;
}

.footer-education-text:hover {
    color: #ffffff;
}

.strip {
    margin-top: 30px;
    border-bottom: 1px solid #ffffff;
    width: 1541px;
    height: 1px;
    opacity: 0.2;
}

.copyright {
    margin: 30px 0 0 220px;
}

.copy-text {
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
}

.conf-text {
    margin-left: 50px;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
}

.conf-text:hover {
    color: #d1e92a;
}

/*Выпадающее меню*/


.drop-down-menu {
    margin: -510px auto;
    padding: 0 auto;
    background-color: #23272c;
    left: 10px;
    top: 510px;
    /* прячем меню */
    position: absolute;
    width: 285px;
}

.drop-down-menu a {
    color: #fff;
    font-size: 5px;
    text-decoration: none;
}

.icon-close {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 6px;
    background-color: transparent;
    border: none;
}

.icon-menu {
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    outline: none;
    border: 0; 

}

.icon-menu::-moz-focus-inner {
  border: 0 !important;
}


.icon-menu img {
    margin-right: 5px;
}

.strip-drop-down {
    border-bottom: 1px solid #ffffff;
    width: 285px;
    height: 1px;
    opacity: 0.2;
}

img[alt="drop-down-logo"] {
    margin: 3px 0 0 0;
}

img[alt="drop-down-logo"]:hover {
    filter: grayscale(100%);
}

img[alt="drop-down-vk"] {
    position: absolute;
    margin: 90px 0 0 -270px;
}

img[alt="drop-down-twitter"] {
    position: absolute;
    margin: 90px 0 0 -230px;
}

img[alt="drop-down-envelope"] {
    position: absolute;
    margin: 90px 0 0 -190px;
}

.drop-down-envelope-text {
    position: absolute;
    margin: 90px 0 0 -170px;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 500;
}

.drop-down-envelope-text:hover {
    color: #d1e92a;
}

img[alt="drop-down-old-phone"] {
    position: absolute;
    margin: 110px 0 0 -190px;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 500;
}

.drop-down-envelope-phone {
    position: absolute;
    margin: 107px 0 0 -170px;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 500;
}

.drop-down-envelope-phone:hover {
    color: #d1e92a;
}

.drop-down-copyright {
    margin: 40px 0 0 0px;
    text-align: center;
}

.drop-down-copy-text {
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 14px;
    font-weight: 400;
}

.drop-down-conf-text {
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 400;
}

.drop-down-conf-text:hover {
    color: #d1e92a;
}

/*=======@media========*/

@media (max-width: 576px) {
    .head {
        max-width: 576px;
        min-width: 320px;
        min-height: 124px;
        padding: 10px;
        box-sizing: border-box;
    }
  
    .container {
        min-width: 576px;
    }

    .header {
        min-width: 576px;
        margin-left: -140px;
        margin-top: 50px;
    }

    .header-main-title{
        margin-left: -10px;;
    }
    
    .header-main-text{
        margin-left: -80px;
    }
    
    .header-main-txt{
        margin-left: -80px;
        text-align: center;
    }
     
    .btn-header-btn{
        display: flex;
        justify-content: center;
        margin-left: 100px;
    }
    
    .content {
        display: none;
    }

    .menu {
        margin-top: -130px;
        margin-left: -350px;
        text-align:

    }

    .left-click,
    .right-click,
    .pagination {
        display: none;
    }

    .btn {
        margin-left: 40px;
    }
    input[type=search] {
        margin-left: 1050px;
    }

    .instruments {
        margin-top: -10px;
        height: 350px;
        justify-content: flex-start;
    }

    .ideas-title {
        padding: 0;
        margin-top: -1050px;
        margin-left: -400px;
    }

    .ideas-txt {
        display: none;
    }

    .pencil-main,
    .paper-main,
    .gear-main,
    .folder-main {
        margin-top: -650px;
        width: 220px;
        padding: 0;
        justify-content: center;
    }

    .ideas > img {
        display: flex;
        margin-top: 250px;
        left: -200px;
    }

    .advertising {
        margin-top: 110px;
    }

    .purchase-now-click {
        margin-left: 950px;
    }

    .library,
    .iphone {
        margin-left: -200px;
    }

    .video {
        width: 1520px;
    }

    .statistics,
    .posts,
    .shops,
    .footer {
        margin-left: -220px;
    }
}